.footer {
    background: linear-gradient(to right, #500550, #0e769b);
    padding: 30px;
    color: white;
  }
  
 
  ul {
    list-style: none;
    display: flex;
    gap: 67px;
    display: flex;
  }
  
  li {
    font-size: 20px;
  }

 /* @keyframes colorChange {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #f0f0f0;
  }
} */
  